service: serverless-email-api

provider:
  name: aws
  runtime: python3.9
  region: ap-south-1
  environment:
    SENDER_EMAIL: raot3651@gmail.com
    AWS_REGION: ap-south-1

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - http:
          path: send
          method: post

plugins:
  - serverless-offline
